header{
    background-color: rgb(103, 185, 154);
    display: flex;
    justify-content: center;
}
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 20px;
    width: 100%;
}
header nav{
    display: flex;
    flex-direction: row;
    width: 200px;
}
header nav a{
    color: white;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
header nav a:hover{
    opacity: 0.4;
}
header .siteTitle{
    color: white;
    font-size: 30px;
    font-weight: bold;
}
