.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px
}
.heading :last-child{
    margin-top: 20px;
    font-size: 1rem;
}
.heading h1{
    font-size: 3rem;
    font-weight: bold;
    color: rgb(103, 185, 154);
}
.form-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.form-input input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    margin-top: 20px;	
    border: 3px solid rgb(103, 185, 154);
}
.form-input input:focus{
    outline: none;
    border: 3px solid rgb(124, 226, 187);
}
.form-input input::placeholder{
    color: rgb(103, 185, 154);
}
.form-input :first-child{
    margin-top: 0;
}
.btn{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border : 3px solid rgb(103, 185, 154);
    background-color: transparent;
    color: rgb(103, 185, 154);
}
.btn:hover, 
.btn:focus{
    background-color: rgb(103, 185, 154);
    color: white;
}
.logoutBtn{
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
}
.logoutBtn:hover{
    opacity: 0.4;
}
