.loadingSpinnerContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(103, 185, 154, 0.25);
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingSpinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: rgb(103, 185, 154) transparent rgb(124, 226, 187) transparent;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
}