.videGreniers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}
.videGrenier{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    padding: 20px;
    margin-top: 25px;
    background-color: rgb(103, 185, 154);
    color: white;
    border-radius: 5px;
}
.videGrenier h2{
    font-size: 1.5rem;
    font-weight: bold;
}
.videGrenier p{
    font-size: 0.75rem;
}