@import "/src/styles/reset.css";
@import "/src/styles/header.css";
@import 'https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;700&display=swap';
@import '/src/styles/spinner.css';
@import '/src/styles/signup.css';
@import '/src/styles/videGrenier.css';

body{
  font-family: Titilium Web, sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 20px;
}